# Environment variables / secrets
.env
.env.*

# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Generated C++ files
*.exe
*.out

# Temporary files
*.tmp
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db